# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local

# Logs
*.log
npm-debug.log*

# Sistema operacional (Windows)
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Cobertura de testes
coverage/

docs2/